<!DOCTYPE html>
<html>
<head>
    <title>Yoto Icon Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <div class="container">
        <h1>Yoto Icon Search</h1>
        <p>A Tool for Creating Yoto Icons sets.</p>
        <p>
            <ul>
            <li>Search: Search by tag/keyword </li>
            <li>Tracklist: Create a tracklist and assign Yoto Icons to each tracks</li>
            </ul>
    </div>
    <div class="container" style="margin-top: 24px; text-align: center;">
        <div style="display: flex; justify-content: center; gap: 12px;">
            <button type="submit" onclick="window.location.href='/search'">Search</button>
            <button type="submit" onclick="window.location.href='/tracklist'">Tracklist</button>
        </div>
    </div>
    <script src="/static/main.js"></script>
</body>
</html>